
{% include 'secureapp/base.html' %}

{% load static %}

{% load crispy_forms_tags %}





{% block content %}

<body style="background-color: #304D30;"></body>
    

<div class="container shadow-md p-5 form-layout" style="background-color: #7F9F80;">

        <h3> Enter your new password: </h3>

        <hr>

        <p> Please enter your new password twice so that we can verify that

            you typed it in correctly!

        </p>

        <form method="post">

            {% csrf_token %}

            {{form|crispy}}

            <br>

            <button type="submit" class="btn cust-btn navbar-btn text-white w-100 p-2"> Update password </button>



        </form>

    </div>


{% endblock %}


